* {
    padding: 0;
    margin: 0;
    font-family: Calibri;
    user-select: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overscroll-behavior-x: none;
}

#header {
    background-color: #0784d1;
    font-size: 30px;
    text-align: center;
    color: white;
    border-bottom: 2px solid #0784d1;
    border-top: 2px solid #0784d1;
    width: 100%;
    min-height: 60px;
    display: block;
}

#tool_top {
    height: 50px;
    background-color: #e6f5ff;
    border: 1px solid #0784d1;
    width: 100%;
    display: flex;
}

/* #inOutData {

    flex-flow: wrap;
    width: 150px;
    height: 100%;
    justify-content: space-around;
    margin: 5px;
    background-color: none;
} */

#body_div {
    background-color: #e6f5ff;
    display: flex;
    width: 100%;
    flex: 1;
    /* background-color: #e6f5ff; */
}

#center_div {
    width: 100%;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#tool_left {
    display: flex;
    background-color: #e6f5ff;
    justify-content: space-between;
}

#tool_right {
    display: flex;
    align-content: center;
    background-color: #e6f5ff;
    height: 0%;
}

#wrap_canvas_div {
    flex: 1;
    border: 1px solid #0784d1;
    width: 100%;
}

#myCanvas {
    background-color: white;
    height: 100%;
    width: 100%;
}

#style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    text-align: center;
    background-color: #e6f5ff;
}

#style>div {
    width: 70%;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#shape {
    justify-content: space-around;
    display: flex;
    flex-flow: wrap;
    height: 125px;

}

#command {
    position: absolute;
    left: 25%;
    top: 22%;
    width: 150px;
    height: 35px;
    display: none;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    color: red;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    /* background: #e6f5ff; */
}

.rangeSlider {
    -webkit-appearance: none;
    width: 35px;
    height: 10px;
    background: #e6f5ff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
}

.rangeSlider:hover {
    opacity: 1;
}

button {
    width: 40px;
    height: 40px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    text-align: center;
    background-color: #bbe8ec;
}

.active,
.btn:hover {
    background-color: #59cbd5;
    background-size: 30px 30px;
    color: white;
}

.btn-off {
    background-color: #bbe8ec;
}

.btn-on {
    color: white;
    background-color: #59cbd5;
    border: 2px solid #0784d1;
}

.active {
    color: #ffffff;
    background-color: rgb(137, 219, 252);
}

#property_solution {
    position: absolute;
    right: 10px;
    top: 558px;
    width: 200px;
    display: none;
    flex-direction: column;
    font-size: 13px;
    background-color: #ffffff;
}

.property_solution_label {
    display: flex;
    width: 100%;
    /* height: 30px; */
    padding: 0%;
    font-size: 22px;
    border: 1px solid black;
    background-color: rgb(230, 245, 255);
    font-family: UVF Bariol Regular;
}

.property_solution_label>div {
    height: 15px;
    background-image: url(img/arrow.png);
    background-size: 10px 10px;
    background-color: rgb(230, 245, 255);;
    border: 1px;
    position: absolute;
    right: -3%;
    border-radius: 8px;

}

.boderProperties_solution>div {
    width: 100%;
    height: 35px;
    display: flex;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* background-color: #ffffff; */
}

.boderProperties_solution>div>p {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: right;
    text-align: left;
    justify-content: left;
}

.boderProperties_solution>div>div {
    height: 100%;
    flex: 1;
    border-left: 1px solid black;
    display: flex;
    align-items: left;
    justify-content: left;
}

#property {
    position: absolute;
    right: 17.631%;
    bottom: 1.1%;
    width: 150px;
    display: none;
    flex-direction: column;
    font-size: 13px;
    /* background-color: #ffffff; */
}

.property_label {
    display: flex;
    width: 100%;
    /* height: 30px; */
    padding: 0%;
    font-size: 22px;
    border: 1px solid black;
    background-color: rgb(162 202 212 / 80%);
    font-family: UVF Bariol Regular;
}

.property_label>div {
    height: 15px;
    background-image: url(img/arrow.png);
    background-size: 10px 10px;
    background-color: rgb(162 202 212 / 98%);;
    border: 1px;
    position: absolute;
    right: -3%;
    border-radius: 8px;

}

.boderProperties>div {
    width: 100%;
    height: 35px;
    display: flex;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* background-color: #ffffff; */
}

.boderProperties>div>p {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: right;
    text-align: left;
    justify-content: left;
}

.boderProperties>div>div {
    height: 100%;
    flex: 1;
    border-left: 1px solid black;
    display: flex;
    align-items: left;
    justify-content: left;
}

#grid {
    position: absolute;
    top: 350px;
    left: 25px;
}

#line {
    position: absolute;
    top: 400px;
    left: 25px;
}

#clear_undo {
    position: absolute;
    top: 66%;
    left: 2%;
}

#colorpicker_label {
    position: absolute;
    top: 150px;
    left: 25px;
    width: 35px;
    height: 35px;
    background: url(img/paint.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #bbe8ec;
    border: 2px solid #0784d1;
    border-radius: 50%;
}

#colorpicker_label:hover {
    background-color: #59cbd5;
    background-size: 30px 30px;
}

#line_size {
    position: absolute;
    top: 200px;
    left: 25px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    text-align: center;
    background-color: #bbe8ec;
}

#coord_div {
    position: absolute;
    top: 90%;
    left: 25px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    border: 2px solid #0784d1;
    background: #bbe8ec;
}

#icon_coord {
    height: 100%;
    width: 78px;
    background-image: url(img/coord.png);
    background-size: 45px 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#display_coord {
    font-family: UVF Bariol Regular;
    width: 100%;
    text-align: center;
    top: 28%;
    left: 30px;
    position: absolute;
}

#openFile_label {
    width: 35px;
    height: 35px;
    background: url(img/open_file.gif);
    border: 2px solid black;
    border-radius: 50%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#openFile_label:hover {
    background-size: 29px 29px;
}

#uploadFile_label {
    display: inline-block;
    color: rgb(3, 93, 209);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 60px;
    margin-bottom: 10px;
    font-size: 14px;
}
#cmtSaveText {
    padding: 5px;
    width: 70px;
    height: 30px;
    background-color: lightblue;
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

#openFile_Solu {
    background: url(img/post_mode.png);
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#openFile_Solu:hover {
    background-size: 35px 35px;
}

#saveFile {
    background-image: url(img/save_file.gif);
    background-color: white;
    margin: 5px;
}

#Clear_all {
    background: url(img/clear_screen.gif);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#Clear_all:hover {
    background-size: 30px 30px;
}

#clearcommands {
    margin: 10;
    width: 35px;
    height: 35px;
    background: url(img/clear.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #bbe8ec;
    border: 2px solid #0784d1;
}

#clearcommands:hover {
    background-size: 30px 30px;
}


#BDCondition {
    background-color: #e6f5ff;
    background-position: left;
    background-size: 30px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 5px;
    left: 30%;
    display: none;
}

.delLoadButton {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background-image: url(img/delete_load.svg);
    background-size: 15px 15px;
    background-color: white;
    border: 0px;
}

.delLoadButton:hover {
    background-size: 17px 17px;
}

.property_solution_label .property_solution-icon {
    height: 26px;
    width: 26px;
    background-image: url(img/arrow.png);
    background-size: 20px 20px;
    background-color: rgb(230, 245, 255);
    border: 0px;
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
}

.property_label .property-icon {
    height: 26px;
    width: 26px;
    background-image: url(img/arrow.png);
    background-size: 20px 20px;
    background-color: rgb(162 202 212 / 97%);
    border: 0px;
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
}

.select-editable {
    position: relative;
    background-color: white;
    border: solid grey 1px;
    width: 60px;
    height: 19px;
}

.coordinate {
    position: relative;
    background-color: white;
    border: solid grey 1px;
    width: 80px;
    height: 19px;
}

.coordinate input{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px; 
    padding: 1px;
    font-size: 12px;
    border: none;
} 

.select-editable select {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    border: none;
    width: 60px;
    margin: 0;
}

.select-editable input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    padding: 1px;
    font-size: 12px;
    border: none;
}

.select-editable select:focus,
.select-editable input:focus {
    outline: none;
}

/* #modeSoln {
    position: absolute;
    top: 20%;
    left: 45%;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    display: none;
    background-color: #e6f5ff;
} */

#fillColor {
    background: url(img/mesh.png);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 55%;
    left: 25px;
    display: none;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#fillColor:hover {
    background-size: 35px 35px;
}


/* #setPosition {
    background: url(img/targeting.png);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 45%;
    left: 25px;
    display: none;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#setPosition:hover {
    background-size: 35px 35px;
} */


#modeDrawing {
    background: url(img/brush.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#modeDrawing:hover {
    background-size: 30px 30px;
}

#modeGL {
    /* background: url(./img/3D\ mode.png);
     */
    background: url(./img/post_mode.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#modeGL:hover {
    background-size: 30px 30px;
}

/* ----------Tab comment */

#tab-icon {
    width: 35px;
    height: 35px;
    border-radius: 0;
    background-size: 20px 20px;
    border: none;
    background: url(img/arrow.png);
    position: absolute;
    right:0%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

#tab-comments {
    position: absolute;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    right: 9px;
    top: 125px;
    width: 250px;
    height: 100%;
    background-color: #e6f5ff;
    border-left: 1px solid #0784d1
}

#lableTab {
    font-weight: bold;
    font-size: 20px;
}

#tab-comments>input {
    margin: 15px;
    width: 80%;
    height: 25%;
}

/* difference text in tab */
#comments>p {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#valueInputed {
    margin: 10px 10px 10px 25px;
    width: 80%;
    height: 80%;
}

#valueInputed>div {
    /* vertical-align: top; */
    display: block;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

.inputImage {
    background: url(img/image.png);
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

.inputImage:hover {
    background-size: 35px 35px;
}

#meshing {
    background: url(img/post_mode.png);
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#meshing:hover {
    background-size: 35px 35px;
}

/* requestAPI */
.request {
    right: 10%;
    position: fixed;
}

.request .url p{
    display: inline-grid;
    width: 10px;
}

.request .functionName p{
    display: inline-grid;
    width: 60px;
}

#urlInputted {
    width: 300px;
    margin: 17px;
    background-color: #ffffff;
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
}

#functionNameInputted {
    width: 150px;
    background-color: #ffffff;
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
}

#sendRequest {
    background: url(img/request.png);
    background-color: #ffffff;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    position: fixed;
    margin: 5px;
    right: 5%;
}

#sendRequest:hover {
    background-size: 35px 35px;
}

#spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s ease-in-out infinite;
  margin: auto;
  display: none;/* initially hidden */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#WebGL_area {
    display: none;
    border: 1px solid #0784d1;
    width: 100%;
    height: 100%;
}
#text_colorbar{
    background-color: #fff;
    width: 65px;
    height: 400px;
    right: 9px;
    top: 156px;
    position: absolute;
}
#canvasGL{
    background-color: #fff;
    width: 100%;
    height: 100%;
}
#canvas_colorbar{
    right: 74px;
    top: 156px;
    position: absolute;
}
#form {
    position: absolute;
    top: 126px;
    right: 10px;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    width: 114px;
}


#Mode3D{
    display: none;
    border: 1px solid #0784d1;
    width: 100%;
    height: 100%;
}
#mode{
    background-color: #fff;
    width: 100%;
    height: 100%;
}



