* {
    padding: 0;
    margin: 0;
    font-family: Calibri;
    user-select: none;
}

html {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 50%;
    min-height: 50%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overscroll-behavior-x: none;
}

#header {
    background-color: #0784d1;
    font-size: 30px;
    text-align: center;
    color: white;
    border-bottom: 2px solid #0784d1;
    border-top: 2px solid #0784d1;
    width: 100%;
    min-height: 60px;
    display: block;
}

#tool_top {
    z-index: 10;
    height: 50px;
    background-color: #e6f5ff;
    border: 1px solid #0784d1;
    width: 99.899%;
    display: flex;
    margin: auto;
    align-items: center;
}

/* #inOutData {

    flex-flow: wrap;
    width: 150px;
    height: 100%;
    justify-content: space-around;
    margin: 5px;
    background-color: none;
} */

#body_div {
    background-color: #e6f5ff;
    display: flex;
    width: 100%;
    flex: 1;
    /* background-color: #e6f5ff; */
}

#center_div {
    width: 100%;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Show {
    display: flex;
    width: 75%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    min-width: 30%;
    max-width: 97%;
}

#Drawing {
    display: flex;
    width: 100%;
    height: 50%;
    min-height: 30%;
    max-height: 90%;
}

#Draw {
    width: 90%;
    height: 100%;
    position: relative;
}


#tool_left {
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

#tool_right {
    display: flex;
    align-content: center;
    /* background-color: #e6f5ff; */
    /* height: 0%; */
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 2px;
}

#wrap_canvas_div {
    flex: 1;
    border: 1px solid #0784d1;
    width: 100%;
    z-index: 1;
    height: 100%;
    position: relative;
    /* max-height: 100%; */
}

#PopUp {
    position: absolute;
    display: flex;
    width: 99%;
    height: 97%;
    justify-content: center;
    align-items: center;
}

#myCanvas {
    background-color: white;
    height: 100%;
    width: 100%;
}

#style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    text-align: center;
    background-color: #e6f5ff;
}

#style>div {
    width: 70%;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#shape {
    justify-content: space-around;
    display: flex;
    flex-flow: wrap;
    height: 125px;

}

#command {
    z-index: 2;
    position: absolute;
    left: 25%;
    top: 22%;
    width: 150px;
    height: 35px;
    display: none;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    color: red;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    /* background: #e6f5ff; */
}

.rangeSlider {
    /* -webkit-appearance: none; */
    width: 35px;
    height: 10px;
    background: #e6f5ff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
}

.rangeSlider:hover {
    opacity: 1;
}

button {
    width: 40px;
    height: 40px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    text-align: center;
    background-color: #bbe8ec;
}

.active,
.btn:hover {
    background-color: #59cbd5;
    background-size: 30px 30px;
    color: white;
}

.btn-off {
    background-color: #bbe8ec;
}

.btn-on {
    color: white;
    background-color: #59cbd5;
    border: 2px solid #0784d1;
}

.active {
    color: #ffffff;
    background-color: rgb(137, 219, 252);
}

#property_solution {
    /* position: absolute;
    right: 10px;
    top: 558px; */
    width: 200px;
    display: none;
    flex-direction: column;
    font-size: 13px;
    background-color: #ffffff;
}

.property_solution_label {
    display: flex;
    width: 100%;
    /* height: 30px; */
    padding: 0%;
    font-size: 22px;
    border: 1px solid black;
    background-color: rgb(230, 245, 255);
    font-family: UVF Bariol Regular;
}

.property_solution_label>div {
    height: 15px;
    background-image: url(img/arrow.png);
    background-size: 10px 10px;
    background-color: rgb(230, 245, 255);
    ;
    border: 1px;
    position: absolute;
    right: -3%;
    border-radius: 8px;

}

.boderProperties_solution>div {
    width: 100%;
    height: 35px;
    display: flex;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* background-color: #ffffff; */
}

.boderProperties_solution>div>p {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: right;
    text-align: left;
    justify-content: left;
}

.boderProperties_solution>div>div {
    height: 100%;
    flex: 1;
    border-left: 1px solid black;
    display: flex;
    align-items: left;
    justify-content: left;
}

#property {
    /* position: absolute;
    right: 17.631%;
    bottom: 1.1%; */
    width: 150px;
    display: none;
    flex-direction: column;
    font-size: 13px;
    /* background-color: #ffffff; */
}

.property_label {
    display: flex;
    width: 100%;
    /* height: 30px; */
    padding: 0%;
    font-size: 22px;
    border: 1px solid black;
    background-color: rgb(162 202 212 / 80%);
    font-family: UVF Bariol Regular;
}

.property_label>div {
    height: 15px;
    background-image: url(img/arrow.png);
    background-size: 10px 10px;
    background-color: rgb(162 202 212 / 98%);
    ;
    border: 1px;
    position: absolute;
    right: -3%;
    border-radius: 8px;

}

.boderProperties>div {
    width: 100%;
    height: 35px;
    display: flex;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* background-color: #ffffff; */
}

.boderProperties>div>p {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: right;
    text-align: left;
    justify-content: left;
}

.boderProperties>div>div {
    height: 100%;
    flex: 1;
    border-left: 1px solid black;
    display: flex;
    align-items: left;
    justify-content: left;
}

#tool {
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
}

#grid {
    margin: 10px;
    /* position: absolute;
    top: 350px;
    left: 25px; */
}

#line {
    margin: 10px;
    /* position: absolute;
    top: 400px;
    left: 25px; */
}

#clear_undo {
    position: absolute;
    top: 66%;
    left: 2%;
}

#colorpicker_label {
    margin: 10px;
    /* position: absolute;
    top: 150px;
    left: 25px; */
    width: 35px;
    height: 35px;
    background: url(img/paint.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #bbe8ec;
    border: 2px solid #0784d1;
    border-radius: 50%;
}

#colorpicker_label:hover {
    background-color: #59cbd5;
    background-size: 30px 30px;
}

#line_size {
    /* position: absolute;
    top: 200px;
    left: 25px; */
    margin: 10px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    text-align: center;
    background-color: #bbe8ec;
}

#coord_div {
    z-index: 2;
    position: absolute;
    /* top: 90%; */
    bottom: 10px;
    left: 10px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    border: 2px solid #0784d1;
    background: #bbe8ec;
}

#icon_coord {
    height: 100%;
    width: 78px;
    background-image: url(img/coord.png);
    background-size: 45px 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#display_coord {
    font-family: UVF Bariol Regular;
    width: 100%;
    text-align: center;
    top: 28%;
    left: 30px;
    position: absolute;
}

#openFile_label {
    width: 35px;
    height: 35px;
    background: url(img/open_file.gif);
    border: 2px solid black;
    border-radius: 50%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#openFile_label:hover {
    background-size: 29px 29px;
}

#uploadFile_label {
    display: inline-block;
    color: rgb(3, 93, 209);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#cmtSaveText {
    padding: 5px;
    width: 70px;
    height: 30px;
    background-color: lightblue;
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

#openFile_Solu {
    background: url(img/post_mode.png);
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#openFile_Solu:hover {
    background-size: 35px 35px;
}

#saveFile {
    background-image: url(img/save_file.gif);
    background-color: white;
    margin: 5px;
}

#Clear_all {
    background: url(img/clear_screen.gif);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#Clear_all:hover {
    background-size: 30px 30px;
}

#clearcommands {
    margin: 10px;
    width: 35px;
    height: 35px;
    min-width: 35px;
    max-width: 35px;
    min-height: 35px;
    max-height: 35px;
    background: url(img/clear.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #bbe8ec;
    border: 2px solid #0784d1;
}

#clearcommands:hover {
    background-size: 30px 30px;
}


#BDCondition {
    background-color: #e6f5ff;
    background-position: left;
    background-size: 30px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 5px;
    left: 30%;
    display: none;
}

.delLoadButton {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background-image: url(img/delete_load.svg);
    background-size: 15px 15px;
    background-color: white;
    border: 0px;
}

.delLoadButton:hover {
    background-size: 17px 17px;
}

.property_solution_label .property_solution-icon {
    height: 26px;
    width: 26px;
    background-image: url(img/arrow.png);
    background-size: 20px 20px;
    background-color: rgb(230, 245, 255);
    border: 0px;
    transform: rotate(-90deg);
    transition: 300ms ease all;
    position: absolute;
    right: 6px;
}

.property_label .property-icon {
    height: 26px;
    width: 26px;
    background-image: url(img/arrow.png);
    background-size: 20px 20px;
    background-color: rgb(162 202 212 / 97%);
    border: 0px;
    transform: rotate(-90deg);
    transition: 300ms ease all;
    position: absolute;
    right: 6px;
}

.property_chart_label .property_chart-icon {
    height: 26px;
    width: 26px;
    background-image: url(img/arrow.png);
    background-size: 20px 20px;
    background-color: rgb(162 202 212 / 97%);
    border: 0px;
    transform: rotate(-90deg);
    transition: 300ms ease all;
    position: absolute;
    right: 6px;
}

.select-editable {
    position: relative;
    background-color: white;
    border: solid grey 1px;
    width: 60px;
    height: 19px;
}

.coordinate {
    position: relative;
    background-color: white;
    border: solid grey 1px;
    width: 80px;
    height: 19px;
}

.coordinate input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px;
    padding: 1px;
    font-size: 12px;
    border: none;
}

.select-editable select {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    border: none;
    width: 60px;
    margin: 0;
}

.select-editable input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    padding: 1px;
    font-size: 12px;
    border: none;
}

.select-editable select:focus,
.select-editable input:focus {
    outline: none;
}

#fillColor {
    /* z-index: 3; */
    background: url(img/mesh.png);
    /* width: 40px;
    height: 40px;
    top: 0px;
    left: 0px;
    /* position: absolute;
    top: 55%;
    left: 25px; */
    display: block;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 10px;
}

#fillColor:hover {
    background-size: 35px 35px;
}

#roof {
    background-image: url(img/arrow.png);
    transform: rotate(90deg);
    transition: 300ms ease all;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* #setPosition {
    background: url(img/targeting.png);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 45%;
    left: 25px;
    display: none;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#setPosition:hover {
    background-size: 35px 35px;
} */


#modeDrawing {
    background: url(img/brush.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#modeDrawing:hover {
    background-size: 30px 30px;
}

#modeGL {
    /* background: url(./img/3D\ mode.png);
     */
    background: url(./img/post_mode.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#modeGL:hover {
    background-size: 30px 30px;
}

/* ----------Tab comment */
.tab {
    z-index: 2;
    width: 25%;
    position: relative;
    display: flex;
    border: solid 1px #0784d1;
    align-items: center;
    justify-content: space-between;
    min-width: 3%;
    max-width: 70%;
}

#tab-icon {
    transform: rotate(0deg);
    transition: 300ms ease all;
    width: 10%;
    height: 10%;
    border-radius: 0;
    background-size: 20px 20px;
    border: none;
    background: url(img/arrow.png);
    position: absolute;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

#ghostpane {
    /* position: absolute; */
    /* top: 125px;
    right: 8px; */
    /* right: 9px; */
    /* left: 200px; */
    width: 100%;
    height: 100%;
    background-color: #e6f5ff;
    /* border-left: 1px solid #0784d1;
    border-right: 1px solid #0784d1; */
}

#tab-comments {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    top: 0px;
    right: 0px;
    width: 90%;
    height: 100%;
    /* max-width: 250px; */
    /* max-height: 82.3%; */
    background-color: #e6f5ff;
    /* border-left: 1px solid #0784d1; */
    /* border-left: 1px solid #0784d1;
    border-bottom: 1px solid #0784d1; */
    flex-direction: column;

}

#choosen {
    width: 80%;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

#switch {
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin: 10px; */
    width: 100%;
    height: 50%;
}

#lableTab {
    font-weight: bold;
    font-size: 20px;
}

#textBox {
    height: 100%;
    max-width: 80%;
    min-width: 80%;
    max-height: 100%;
}

#tab-comments>input {
    margin: 15px;
    width: 80%;
    height: 25%;
}

/* difference text in tab */
#comments>p {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#btn_tab_cmt {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

#valueInputed {
    width: 100%;
    height: 50%;
    max-height: 50%;
    display: none;
    text-align: justify;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

p.logFile {
    width: 80%;
    height: 70%;
    max-width: 80%;
    max-height: 70%;
    background-color: #ffffff;
    overflow: scroll;
    border: 1px solid #0784d1;
    user-select: text
}

.inputImage {
    background: url(img/image.png);
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

.inputImage:hover {
    background-size: 35px 35px;
}

#meshing {
    background: url(img/post_mode.png);
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
}

#meshing:hover {
    background-size: 35px 35px;
}

/* requestAPI */
.request {
    top: 125px;
    right: 10px;
    position: fixed;
    background-color: #e6f5ff;
    border: 1px solid #0784d1;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 0 0 0 10px;
    display: none;
    z-index: 10;
}

.request .url {
    width: 430px;
    margin: 17px;
    display: flex;
    justify-content: space-between;
}

.request .functionName {
    margin: 17px;
    display: flex;
    justify-content: space-between;
}

.request .Parameter {
    margin: 17px;
    display: flex;
    justify-content: space-between;
}

.request .addRequest {
    /* width: 180px; */
    margin: 17px;
    display: flex;
    justify-content: center;
}

#urlInputted {
    width: 310px;
    background-color: #ffffff;
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
}

#functionNameInputted {
    width: 310px;
    background-color: #ffffff;
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
}

#attributeParam {
    width: 310px;
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

#parameterSelected {
    width: 130px;
    background-color: #ffffff;
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
}

#ValueParameter {
    width: 130px;
    background-color: #ffffff;
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
}

#addAttribute {
    width: 70px;
    height: 30px;
    background-color: lightblue;
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

#addAttribute:hover {
    font-size: 15px;
}

#editAttribute {
    width: 70px;
    height: 30px;
    background-color: lightblue;
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

#editAttribute:hover {
    font-size: 15px;
}

#deleteAttribute {
    width: 70px;
    height: 30px;
    background-color: lightblue;
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

#deleteAttribute:hover {
    font-size: 15px;
}


.Request-button {
    width: 100px;
    display: inline-flex;
    justify-content: space-around;
    margin-left: 10px;
    position: fixed;
    right: 5%;
}

#sendRequest {
    background: url(img/request.png);
    background-color: #ffffff;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}

#sendRequest:hover {
    background-size: 35px 35px;
}

#settingRequest {
    background: url(img/setting.png);
    background-color: #ffffff;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}

#settingRequest:hover {
    background-size: 35px 35px;
}

#spinner {
    display: none;
    margin: 0 0 10px 0;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#WebGL_area {
    position: relative;
    display: none;
    border: 1px solid #0784d1;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#value {
    position: relative;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #0784d1;
    border-top: 1px solid #0784d1;
    /* border-right: 1px solid #0784d1; */
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    height: 100%;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#Colorbar {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#text_colorbar {
    background-color: #fff;
    min-width: 50%;
    width: 50%;
    max-width: 50%;
    height: 100%;
    right: 0px;
    bottom: 0px;
    /* position: absolute; */
}

#canvas_colorbar {
    height: 100%;
    right: 74px;
    bottom: 0px;
    min-width: 50%;
    width: 50%;
    max-width: 50%;
    /* position: absolute; */
}

#canvasGL {
    background-color: #fff;
    width: 100%;
    height: 100%;
}



#form {
    width: 100%;
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
}

#Mode3D {
    position: relative;
    z-index: 1;
    display: none;
    border: 1px solid #0784d1;
    width: 100%;
    height: 100%;
}

#mode {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

#Chart {
    z-index: 1;
    border: 1px solid #0784d1;
    width: 100%;
    height: 50%;
    position: relative;
    min-height: 10%;
    max-height: 70%;
    display: flex;
    flex-direction: column;
}

#Close-Open{
    z-index: 2;
    width: 100%;
    height: 10%;
    background-color: #e6f5ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chart-icon {
    transform: rotate(90deg);
    transition: 300ms ease all;
    height: 100%;
    border-radius: 0;
    background-size: 20px 20px;
    border: none;
    background: url(img/arrow.png);
    position: absolute;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

#ChartPlot{
    z-index: 1;
    display: block;
    border: 1px solid #0784d1;
    width: 100%;
    height: 90%;
    position: relative;
}

#ChartGL {
    background-color: transparent;
    position: absolute;
    left: 9%;
    top: 10%;
    border: solid 1px black;
    /* width: 100%;
    height: 100%; */
    z-index: 1;
}

#Title_chart {
    position: absolute;
    z-index: 2;
    top: 5px;
    display: inline;
}

#filter_chart {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 10%;
    display: flex;
    height: 20px;
}

#axes {
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#Legend {
    display: none;
    background-color: #fff;
    position: absolute;
    right: 6%;
    top: 10%;
    width: 30vh;
    height: 20vh;
    border-left: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    z-index: 1;
}

#property_chart {
    z-index: 5;
    position: absolute;
    left: 30%;
    top: 10%;
    width: 200px;
    display: none;
    flex-direction: column;
    font-size: 13px;
    background-color: #ffffff;
}

.property_chart_label {
    display: flex;
    width: 100%;
    /* height: 30px; */
    padding: 0%;
    font-size: 22px;
    border: 1px solid black;
    background-color: rgb(230, 245, 255);
    font-family: UVF Bariol Regular;
}

.property_chart_label>div {
    height: 15px;
    background-image: url(img/arrow.png);
    background-size: 10px 10px;
    background-color: rgb(230, 245, 255);
    ;
    border: 1px;
    position: absolute;
    right: -3%;
    border-radius: 8px;

}

.boderProperties_chart>div {
    width: 100%;
    height: 35px;
    display: flex;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* background-color: #ffffff; */
}

.boderProperties_chart>div>p {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: right;
    text-align: left;
    justify-content: left;
}

.boderProperties_chart>div>div {
    height: 100%;
    flex: 1;
    border-left: 1px solid black;
    display: flex;
    align-items: left;
    justify-content: left;
}


/*
#axes_y{
    background-color: black;
    width: 60px;
    height: 100%;
    left: 10px;
    top: 125px;
    position: absolute;
} */


/* {box-sizing: border-box;} */

/* The popup form - hidden by default */
.form-popup {
    position: absolute;
    z-index: 11;
    width: 60vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

/* Add styles to the form container */
.form-container {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #e6f5ff;
    border: 1px solid #0784D1;
    border-radius: 20px;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=url] {
    width: 86%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=url]:focus {
    background-color: #ddd;
    outline: none;
}

.button-choose-attribute {
    display: flex;
    justify-content: center;
}

.buttonMethod {
    position: relative;
    display: flex;
    justify-content: center;
    top: 120px;
}

.methodAttribute {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px;
}

#typeAttribute {
    margin: 10px;
}

.methodAttribute .typeAttribute-select,
.typeAttribute-text {
    width: 80%;
    margin: 10px;
    display: none;
}

#typeChange {
    margin: 10px;
}

/* Set a style for the submit/login button */
.button-choose-attribute .URL {
    background: url(img/link.png);
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
    cursor: pointer;
}

/* Add a red background color to the cancel button */
.button-choose-attribute .function {
    background: url(img/function.png);
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
    cursor: pointer;
}

.button-choose-attribute .parameter {
    background: url(img/Parameter.png);
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
    cursor: pointer;
}

/* Add some hover effects to buttons */
.button-choose-attribute .URL:hover,
.function:hover,
.parameter:hover {
    background-size: 35px 35px;
}

/* .buttonMethod {
    margin-top: 25%;
} */

.buttonMethod .confirm {
    display: none;
    background: url(img/confirm.png);
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
    cursor: pointer;
}

/* Add a red background color to the cancel button */
.buttonMethod .close {
    background: url(img/cancel.png);
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 5px;
    cursor: pointer;
}

.buttonMethod .confirm:hover,
.close:hover {
    background-size: 35px 35px;
}